.wrapper {
  position: relative;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #121417;
  margin-bottom: 12px;
}

.input {
  width: 100%;
  height: 52px;
  padding: 0 16px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.value {
  font-size: 16px;
  font-weight: 500;
  color: #121417;
}

.icon {
  fill: none;
  stroke: #121417;
}

.error {
  border-color: #e74a3b;
}

.errorText {
  margin-top: 6px;
  font-size: 12px;
  color: #e74a3b;
}

.dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  z-index: 10;

  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  padding: 12px 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;         
  scrollbar-color: #cfcfcf transparent;
}

.list::-webkit-scrollbar {
  width: 4px;
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 4px;
}

.option {
  width: 100%;
  padding: 8px 0;
  background: none;
  border: none;

  font-size: 18px;
  font-weight: 500;
  color: #b6b6b6;

  cursor: pointer;
}

.option:hover {
  color: #121417;
}

.active {
  color: #121417;
}
