.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.avatarContainer {
  width: 120px;
  height: 120px;
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarWrapper {
  position: relative;
  width: 96px;
  height: 96px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.status {
  position: absolute;
  top: -2px;
  right: -2px;

  width: 10px;
  height: 10px;
  border-radius: 50%;

  border: 2px solid #fff;
  z-index: 2;
}

.status--online {
  background-color: #38cd3e;
}

.status--offline {
  background-color: #9ca3af;
}

.status--busy {
  background-color: #f97316;
}

.content {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #11101c;
}

.meta {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  color: #6b6b6b;
  margin-left: auto;
  margin-right: 48px;
}

.metaItem {
  display: flex;
  align-items: center;
  gap: 8px;

  position: relative;
  padding-right: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #11101c;
}

.metaItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 16px; 
  background-color: rgba(17, 17, 17, 0.2);
}

.iconStar {
  width: 16px;
  height: 16px;
  fill: #ffc531;
}

.iconMap {
  fill: none;
  stroke: #111;
}

.price {
  color: #3cbf61;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px 0;
  padding: 0;
  list-style: none;
}

.tagsItem {
  padding: 6px 12px;
  background: #f3f3f3;
  border-radius: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.tagsSpan {
  color: #11101c;
}

.education {
  font-size: 14px;
  margin-bottom: 12px;
}

.heartBtn {
  border: none;
  background-color: transparent;
}

.heartIcon{
  fill: none;        
  stroke: #111111;
}

.about {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(17, 16, 28, 0.5);
  margin-bottom: 14px;
}

.readMore {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  color: #11101c;
  margin-bottom: 48px;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatarReviewer {
  border-radius: 100px;
  width: 44px;
  height: 44px;
  background-color: rgba(240, 63, 59, 0.2);

  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #f03f3b;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: #11101c;
  margin-bottom: 4px;
}

.iconStar {
  margin-right: 8px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  line-height: 1.3;
  color: #11101c;
}

.comments{
  margin-bottom: 48px;
}

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(17, 16, 28, 0.5);
  margin-bottom: 25px;
}

.appointment {
  border-radius: 30px;
  padding: 14px 28px;
  width: 215px;
  height: 48px;
  background-color: #f03f3b;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fbfbfb;

   transition:
    background-color 0.25s ease,
    box-shadow 0.25s ease;
 }

  .appointment:hover,
  .appointment:focus {
    background-color: #d73733;
    box-shadow: 0 6px 14px rgba(204, 52, 49, 0.25);
  }

