.container {
  position: relative;
  width: 100%;
  max-width: 565px;
  padding: 64px;
  background: #fff;
  border-radius: 30px;
}

.closeButton {
  position: absolute;
  top: 28px;
  right: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.iconClose {
  stroke: #191919;
  fill: none;
  transition: stroke 0.3s;
}

.iconClose:hover,
.iconClose:focus {
  stroke: #f03f3b;
}

.title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #11101c;
}

.description {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(17, 16, 28, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.formGroup {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 16px 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #11101c;
  background: #fff;
  border: 1px solid rgba(25, 25, 25, 0.1);
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s;
}

.input::placeholder {
  color: rgba(25, 25, 25, 0.4);
}

.input:focus {
  border-color: #f03f3b;
}

.errorText {
  margin-top: 4px;
  font-size: 12px;
  color: #f03f3b;
}

.submitButton {
  width: 100%;
  padding: 16px;
  margin-top: 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #fff;
  background:  #f03f3b;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s;
}

.submitButton:hover:not(:disabled) {
  background: #d63531;
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.switchText {
  margin: 20px 0 0;
  font-size: 14px;
  text-align: center;
  color: rgba(25, 25, 25, 0.5);
}

.switchButton {
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: #f03f3b;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s;
  display: inline;
}

.switchButton:hover {
  color: #d63531;
}