.home {
  padding: 40px;
  
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1376px;
  margin: 0 auto;
  border-radius: 24px;
  overflow: hidden;
 
}

/* LEFT */
.left {
  background: #f03f3b;
  color: #fff;
  padding: 251px 64px 163px 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 40px;
}

.title {
  font-weight: 500;
  font-size: 70px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  margin-bottom: 28px;
}

.subtitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 107%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 64px;
  
}

.cta {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 18px 50px;
  width: 230px;
  height: 60px;

  display: inline-flex;
  align-items: center;
  gap: 18px;
  text-decoration: none;
  width: fit-content;

  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.iconArrow {
  transition: transform 250ms ease;
  transform: rotate(10eg); /* ↗ */
}
.cta:hover {
  background-color: #E0A39A;
}
.cta:hover .iconArrow {
  transform: rotate(45deg); /* → */
  
}

/* RIGHT */
.right {
  position: relative;
  background-color: #E0A39A;
  position: relative;
  min-height: 100vh;


  background-image:
    linear-gradient(
      rgba(248, 246, 246, 0.05),
      rgba(255, 251, 251, 0.05)
    ),
    url("/hero-img.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* BADGE */
.badge {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background: #fff;
  color: #111;
  padding: 32px;
  border-radius: 16px;
  width: 284px;
  height: 118px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.check {
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background: #f44336;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeText {
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 16, 28, 0.5);
}

.badgeNumber {
  font-weight: 700;
  font-size: 24px;
  color: #11101c;
}
