.header {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  z-index: 10;
  color: white;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 34px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}


.navigationList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navigationItem + .navigationItem {
  margin-left: 40px;
}

.authWrapper {
  margin-left: 92px;
}

/*  */
.red {
  background-color: #f03f3b;
}
.navLink {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

