.wrapper {
  position: relative;
  width: 220px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1,3;
  color: #8a8a89;
}

.button {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border-radius: 14px;
  background: #f03f3b;
  font-weight: 500;
  font-size: 18px;
  line-height: 1,1;
  color: #fbfbfb;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 32px;
}

.arrow,
.arrowUp {
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.arrow {
  transform: rotate(45deg);
}

.arrowUp {
  transform: rotate(-135deg);
}

.list {
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  padding: 8px 0;
  z-index: 10;
}

.item {
  padding: 10px 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: rgba(17, 16, 28, 0.3);
  cursor: pointer;
}

.item:hover {
  color:#11101c;
}

